<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant</title>
    <link rel="stylesheet" href="public/stylesheets/style.css">
</head>
<body>
    <div class="vegetables">
        <h1>Welcome to <%= name %></h1>
    </div>
    <div class="features">
        <div>
            <h2>About us</h2>
            <p>We are a local, community-driven, restaurant focused on healthy food.</p>
        </div>
        <div>
            <h2>Menu</h2>
            <p>With a delicious listing, you have lots of tasty food to choose from.</p>
            <a href="/menu">View Menu</a>
        </div>
        <div>
            <h2>Working Hours</h2>
            <p>We try to stay open so you get the food you want when you want it.</p>
            <a href="/hours">View Hours</a>
        </div>
    </div>
</body>
</html>
